<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [10]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=9f871445e39f718f998d4d9f7e1761ec"  #Make sure to change ******* to your API key.
res = requests.get(url)
res.json()

{'AED': 4.045927,
 'AFN': 93.252869,
 'ALL': 103.783193,
 'AMD': 423.913041,
 'ANG': 1.972561,
 'AOA': 908.694905,
 'ARS': 304.348563,
 'AUD': 1.676066,
 'AWG': 1.985515,
 'AZN': 1.871076,
 'BAM': 1.95586,
 'BBD': 2.209868,
 'BDT': 119.29367,
 'BGN': 1.95586,
 'BHD': 0.412613,
 'BIF': 3100.395376,
 'BMD': 1.101534,
 'BND': 1.470645,
 'BOB': 7.563233,
 'BRL': 5.383066,
 'BSD': 1.094534,
 'BTC': 3.7742152e-05,
 'BTN': 90.618788,
 'BWP': 14.720453,
 'BYN': 2.762585,
 'BYR': 21590.064164,
 'BZD': 2.206168,
 'CAD': 1.473136,
 'CDF': 2687.742394,
 'CHF': 0.961307,
 'CLF': 0.033763,
 'CLP': 931.628659,
 'CNY': 7.866163,
 'COP': 4565.340441,
 'CRC': 594.318283,
 'CUC': 1.101534,
 'CUP': 29.190648,
 'CVE': 110.268392,
 'CZK': 24.256844,
 'DJF': 194.875995,
 'DKK': 7.455202,
 'DOP': 61.801901,
 'DZD': 149.302995,
 'EGP': 33.874242,
 'ERN': 16.523008,
 'ETB': 60.321356,
 'EUR': 1,
 'FJD': 2.443528,
 'FKP': 0.864011,
 'GBP': 0.86361,
 'GEL': 2.869502,
 'GGP': 0.864011,
 'GHS': 12.36738,
 'GIP': 0.864011,
 'GMD': 66.529405,
 'GNF': 9413.289576,
 'GTQ': 8.605265,
 'GYD': 228.987044,
 'HKD': 8.603921,
 'HNL': 26.915828,
 'HRK': 7.406559,
 'HTG': 149.394596,
 'HUF': 389.207183,
 'IDR': 16691.43282,
 'ILS': 4.023595,
 'IMP': 0.864011,
 'INR': 91.078952,
 'IQD': 1433.744106,
 'IRR': 46608.643357,
 'ISK': 145.160345,
 'JEP': 0.864011,
 'JMD': 169.225206,
 'JOD': 0.779994,
 'JPY': 156.06864,
 'KES': 155.634788,
 'KGS': 96.752016,
 'KHR': 4526.139235,
 'KMF': 495.497457,
 'KPW': 991.380497,
 'KRW': 1436.444496,
 'KWD': 0.338755,
 'KYD': 0.912128,
 'KZT': 487.514997,
 'LAK': 21268.654277,
 'LBP': 16428.205373,
 'LKR': 351.340808,
 'LRD': 205.659868,
 'LSL': 20.602889,
 'LTL': 3.252544,
 'LVL': 0.666307,
 'LYD': 5.255162,
 'MAD': 10.653828,
 'MDL': 19.208591,
 'MGA': 4938.15191,
 'MKD': 61.621896,
 'MMK': 2298.370704,
 'MNT': 3822.498484,
 'MOP': 8.803971,
 'MRO': 393.247408,
 'MUR': 49.669928,
 'MVR': 16.908176,
 'MWK': 1149.735369,
 'MXN': 18.827786,
 'MYR': 5.01749,
 'MZN': 69.672062,
 'NAD': 20.601736,
 'NGN': 845.372601,
 'NIO': 40.041232,
 'NOK': 11.166354,
 'NPR': 144.99046,
 'NZD': 1.80722,
 'OMR': 0.42411,
 'PAB': 1.094534,
 'PEN': 4.038624,
 'PGK': 3.977122,
 'PHP': 61.177539,
 'PKR': 310.231543,
 'PLN': 4.439132,
 'PYG': 7975.245338,
 'QAR': 4.010666,
 'RON': 4.948755,
 'RSD': 117.293608,
 'RUB': 105.609545,
 'RWF': 1288.639642,
 'SAR': 4.132518,
 'SBD': 9.218502,
 'SCR': 14.81009,
 'SDG': 662.575862,
 'SEK': 11.685949,
 'SGD': 1.474832,
 'SHP': 1.340292,
 'SLE': 23.31392,
 'SLL': 21755.294291,
 'SOS': 627.319076,
 'SRD': 42.19533,
 'STD': 22799.527451,
 'SVC': 9.576295,
 'SYP': 14430.093746,
 'SZL': 20.48163,
 'THB': 38.201283,
 'TJS': 12.000969,
 'TMT': 3.855369,
 'TND': 3.402362,
 'TOP': 2.61014,
 'TRY': 29.727371,
 'TTD': 7.420228,
 'TWD': 34.881725,
 'TZS': 2741.784344,
 'UAH': 40.423844,
 'UGX': 3951.121546,
 'USD': 1.101534,
 'UYU': 41.451275,
 'UZS': 12761.392572,
 'VEF': 3308487.948017,
 'VES': 33.119373,
 'VND': 26144.906783,
 'VUV': 131.492562,
 'WST': 2.955538,
 'XAF': 655.977179,
 'XAG': 0.046626,
 'XAU': 0.000567,
 'XCD': 2.97695,
 'XDR': 0.815025,
 'XOF': 655.977179,
 'XPF': 120.232701,
 'YER': 275.76903,
 'ZAR': 20.317776,
 'ZMK': 9915.108927,
 'ZMW': 21.12365,
 'ZWL': 354.693462}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [25]:
# Turn the data into a dataframe
df = pd.DataFrame(res.json())
df

     success   timestamp base        date        rates
AED     True  1691357403  EUR  2023-08-06     4.045927
AFN     True  1691357403  EUR  2023-08-06    93.252869
ALL     True  1691357403  EUR  2023-08-06   103.783193
AMD     True  1691357403  EUR  2023-08-06   423.913041
ANG     True  1691357403  EUR  2023-08-06     1.972561
..       ...         ...  ...         ...          ...
YER     True  1691357403  EUR  2023-08-06   275.769030
ZAR     True  1691357403  EUR  2023-08-06    20.317776
ZMK     True  1691357403  EUR  2023-08-06  9915.108927
ZMW     True  1691357403  EUR  2023-08-06    21.123650
ZWL     True  1691357403  EUR  2023-08-06   354.693462

[170 rows x 5 columns]

In [26]:
# Drop unnescessary columns
df = df.drop(columns=['success','timestamp','base','date'])
df

           rates
AED     4.045927
AFN    93.252869
ALL   103.783193
AMD   423.913041
ANG     1.972561
..           ...
YER   275.769030
ZAR    20.317776
ZMK  9915.108927
ZMW    21.123650
ZWL   354.693462

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [27]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).